@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

/* KEYFRAMES & VARIABELS */

@keyframes slide--left {
    0% {transform: translateX(-100%);}
    100% {transform: translateX(0%);}
}

@keyframes slide--right {
    0% {transform: translateX(100%);}
    100% {transform: translateX(0%)}
}

@keyframes menu--open {
    0% {transform: translateX(110%);}
    40% {transform: translateX(-5%);}
    80% {transform: translateX(0%);}
    100% {transform: translateX(0%);}
}

@keyframes animate-profile-picture {
    0% {
        transform: scale(0);
    }
    80% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes animate-waves {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(0);
    }
}

/* GENERAL SITEWIDE STYLINGS */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: #242424;
}

html {
    scroll-behavior: smooth;
    line-height: 1.5;
}

body {
    max-width: 100vw;
    /* overflow-x: hidden; */
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    position: relative;
}

img {
    width: 100%;
}

figure {
    display: flex;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

h1 {
    font-size: 36px;
}

h1, h2, h3, h4, h5, h6, span {
    text-align: center;
    line-height: 1.25;
}

.notop__container {
    padding: 0 32px 96px 32px;
}

.container {
    padding: 96px 32px;
}

.footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: min(100px, 8%);
    padding-bottom: min(100px, 8%);
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
}

.small__row {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.footer__row {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.filter--white {
    filter: invert(99%) sepia(48%) saturate(2%) hue-rotate(202deg) brightness(113%) contrast(100%);
}

.link__hover-effect:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: -3px;
    right: 0;
    transition: all 300ms ease;
}

.link__hover-effect:hover:after {
    width: 100%;
    left: 0;
}

.link__hover-effect--white:after {
    background-color: #fff;
}

.link__hover-effect--black:after {
    background-color: #242424;
}

.is__active {
    font-weight: 700;
}

/* NAV STYLING */

#landing {
    min-height: 100vh;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    margin-bottom: 32px;
    animation: slide--right 800ms 0ms ease;
}

.nav__logo {
    display: flex;
    align-items: center;
}

.nav__logo--img {
    height: 75px;
    width: 75px;
    margin-right: 6px;
}

.nav__logo--img:hover {
    filter: opacity(0.5) drop-shadow(0 0 0 grey);
}

.nav__logo--name {
    font-size: 32px;
    font-family: 'Merriweather', serif;
}

.nav__links--text {
    font-size: 16px;
    margin: 0 20px;
}

.btn {
    padding: 12px 20px;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    color: #f7fafc;
    background-color: #222;
    border-radius: 9999px;
    transition: all 300ms ease;
}

.btn:hover {
    background-color: grey;
}

.btn__menu {
    background-color: transparent;
    border: none;
    font-size: 25px;
    text-align: center;
    color: #242424;
    cursor: pointer;
}

.btn__open {
    display: none;
}

.btn__menu--icon:hover {
    color: grey;
}

.btn__menu--close {
    position: absolute;
    top: 11.5px;
    right: 17px;
}

.nav__menu--link {
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-bottom: 4px;
    letter-spacing: 0.4px;
    color: #242424;
    font-weight: 600;
}

.btn__menu--contact {
    color: #fff;
}

.menu__backdrop {
    width: 100vw;
    max-width: calc(100vw - 32px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 32px;
    margin: 24px 16px; 
    z-index: 5;
    background-color: white;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: all 200ms ease;
}

.menu__links--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width:900px;
}

.menu--open .menu__backdrop {
    animation: menu--open 800ms backwards;
    visibility: visible;
    opacity: 1;
}

.landing__container {
    padding: 32px 32px 0 32px;
}

/* WORKS MAIN STYLING */

.works__container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.works__art--wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}

.works__art--wrapper:nth-child(even) {
    flex-direction: row-reverse;
}

.works__art--mask {
    max-width: calc(100% / 2);
}

.works__art {
    border-radius: 5px;
}

.fade-in {
    animation: fade-in 800ms 800ms backwards;
}

.fade-up {
    animation: fade-up 650ms 400ms backwards;
}

.works__art--desc {
    text-align: center;
}

.works__desc--title {
    font-family: 'Merriweather', serif;
}

.works__desc--year {
    margin-bottom: 12px;
}

/* FOOTER STYLINGS */

footer {
    background-color: #242424;
}

.footer__anchor {
    position: relative;
}

.footer__logo--img {
    height: 100px;
    width: 100px;
}

.footer__logo--popper {
    position: absolute;
    right: 0;
    top: 42px;
    font-weight: 700;
    color: #f7fafc;
    opacity: 0;
    transition: all 300ms ease;
}

.footer__anchor:hover .footer__logo--popper {
    transform: translateX(40px);
    opacity: 1;
}

.footer__social--list {
    display: flex;
    justify-content: space-around;
    margin-top: 12px;
    margin-bottom: 28px;
    width: 100%;
    max-width: 500px;
}

.footer__social--link, .footer__logo--popper, .footer__copyright {
    color: #fff;
}

/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */

@media (max-width: 768px) {
    .landing__container {
        padding: 12px 32px 0 32px;
    }

    .container {
        padding: 32px 96px 32px 96px;
    }

    .works__art--wrapper {
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 75px;
    }

    .works__art--mask {
        max-width: calc(100% / 1);
    }

    .works__art--desc {
        margin-top: 16px;
    }
}

@media (max-width: 629px) {
        .nav__links--text:not(:last-child) {
            display: none;
        }
    
        .nav__links {
            display: none;
        }
    
        .btn__menu {
            display: block;
            opacity: 1;
            transition: all 300ms ease;
        }
    
        .menu--open .btn__open {
            opacity: 0;
        }
    
        .menu__links--wrapper > .link__hover-effect:after {
            bottom: 5px;
        }
    }

@media (max-width: 480px) {
        .works__desc--title {
            font-size: 24px;
        }
}
